<div class="inner">
  <h1>お仕事一覧</h1>
    <% @funerals.each do |funeral| %>

      <div class="white-cards">
        <% if funeral.done? %>
        <div class="ribbon18-content">
          <span class="ribbon18">済み</span>
        </div>
        <% end %>
        <i class="far fa-clock"></i>&nbsp;<% funeral_hall = FuneralHall.find(funeral.funeral_hall_id).name %>
        <% client = Client.find(funeral.client_id).name %>
        <%= funeral.start_time.strftime("%Y年%m月%d日 %H:%M") %>〜<br>
        <i class="fas fa-home"></i>&nbsp;<%= funeral.family_name %>家<br>
        <i class="fas fa-map-marker-alt"></i>&nbsp;<%= funeral_hall %>（<%= client %>）<br>
        募集人数：<%= funeral.number_of_people %>

        <%= link_to content_tag(:i, "", class: "fas fa-edit"), admin_funeral_path(funeral.id), class: "edit-button" %>
      </div>
    <% end %>
    <%= link_to "戻る", admin_home_path, class: "back_btn" %>
</div>
