<p id="notice"><%= notice %></p>

<ul>
  <% @funerals.each do |funeral| %>
    <%= funeral.start_time.strftime("%Y年%m月%d日") %>
      <li>開始：<%= funeral.start_time.strftime("%H:%M") %></li>
      <li>終了予定：<%= funeral.end_time.strftime("%H:%M") %></li>
    <% funeral_halls = FuneralHall.find(funeral.funeral_halls_id).name %>
      <li>会場：<%= funeral_halls %></li>
    <% client = Client.find(funeral.client_id).name %>
      <li>取引先：<%= client %></li>
      <li>募集人数：<%= funeral.number_of_people %></li>
      <li><%= link_to "編集", edit_admin_funeral_path(funeral.id) %></li>
      <li>-----------------------------</li>
  <% end %>
</ul>

<%= link_to 'ホームへ戻る', admin_home_path %>
