<%= form_with(model: [ :admin, @funeral ], local: true) do |f| %>
  <h1>検索結果</h1>
  <span id="start-time-and-hall">
    <%= @funeral.start_time.month %>月
    <%= @funeral.start_time.day %>日
    <%= @funeral.start_time.strftime("%H:%M") %>〜
    <%= @hall_name %>,
    <%= @funeral.number_of_people %>人
  </span>
  <%= f.hidden_field :start_time, value: @funeral.start_time %>
  <%= f.hidden_field :funeral_hall_id, value: @hall_id %>
  <%= f.hidden_field :number_of_people, value: @funeral.number_of_people %>

  <!-- 該当スタッフ選択 -->
  <h2>スタッフ</h2>
  <div class="container">
    <div class="checkbox-tile-group">

      <ul class='horizontal-list'>
        <% @users.each do |user|%>
          <li class='item'>
            <div class="input-container">

              <%= f.fields_for :working_hours, @funeral.working_hours.build do |working_hour| %>
                <!-- <input id="walk" class="checkbox-button" type="checkbox" name="checkbox" /> -->
                <%= working_hour.check_box :user_id, {} , "#{user.id}", nil %>
                <div class="checkbox-tile">
                  <label for="walk" class="checkbox-tile-label"><%= user.name %></label>
                </div>
              <% end %>

            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- 取引先選択 -->
  <h2>取引先</h2>
  <div class="vertical-menu">
    <% @clients.each do |client| %>
      <label>
        <%= f.radio_button :client_id, client.id %>
        <%= client.name %>
      </label>
    <% end %>
  </div>
  
  <!-- 喪家名入力 -->
  <h2>ご喪家</h2>
  <%= f.text_field :family_name,class: 'one-line-input' %><span id="ie">家</span>

  <!-- 送信ボタン -->
  <div class="ripple">
      <span class="ripple__effect is-white"></span>
      <%= f.submit 'お仕事をお願いする',class: 'content_in_ripple_button' %>
  </div>
<% end %>
