
<%= form_with url: new_admin_funeral_path, local: true, method: (:get) do |f| %>
  <h1>スタッフ検索</h1>
  <h2>日付</h2>
  <div class='container'>
    <div class='radio-tile-group'>

      <!-- 日付選択機能 -->
      <ul class='horizontal-list'>
        <% @days.each_with_index do |day, i| %>
          <li class='item'>
            <div class='input-container'>
              <%=f.radio_button :start_date, day, class: 'radio-button' %>

              <div class='radio-tile'>
                <label class='radio-tile-label'>
                  <% if i == 0 %>
                    <%= '今日' %>
                  <% elsif i == 1 %>
                    <%= '明日' %>
                  <% else %>
                    <%= day.day %>日
                  <% end %>
                </label>
              </div>

            </div>
          </li>
        <% end %>
      </ul>

    </div>
  </div>


  <!-- TimeDropper -->
  <h2>開始時間と人数</h2>
  <!-- <input type='text' id='alarm'> -->
  <%= f.text_field :start_time, id: 'alarm' %>

  <!-- NumberPicker -->
  <!-- <input type='number' min='1' max='100' value='1' /> -->
  <%= f.number_field :number_of_people, min: '1', max: '100', value: '1'%>

  <!-- 会場選択 -->
  <h2>斎場</h2>
  <div class="vertical-menu">
    <% @halls.each do |hall| %>
      <label>
        <%= f.radio_button :funeral_hall, hall.id %>
        <%= hall.name %>
      </label>
    <% end %>
  </div>

<div class="ripple">
    <span class="ripple__effect is-white"></span>
    <%= f.submit 'スタッフを探す',class: 'content_in_ripple_button' %>
</div>

<% end %>

<script>
  $( '#alarm' ).timeDropper();
  $('input[type=number]').spinner();
</script>
