<%= form_with url: new_admin_funeral_path, local: true, method: (:get) do |f| %>
  <h1>スタッフ検索</h1>
  <h2>日付</h2>
  <!-- 日付選択機能 -->
  <div class='date_picker'>
    <ul class='horizontal-list'>
      <% @days.each_with_index do |day, i| %>
        <li class='item'>
          <div class='input-container'>
            <% if day.day == @last_day %>
            <%=f.radio_button :start_date, day, {class: 'radio-button',checked: true}  %>
            <% else %>
            <%=f.radio_button :start_date, day, class: 'radio-button' %>
            <% end %>
            <div class='radio-tile'>
              <label class='radio-tile-label'>
                <% if i == 0 %>
                  <%= '今日' %>
                <% elsif i == 1 %>
                  <%= '明日' %>
                <% else %>
                  <%= day.day %>日
                <% end %>
              </label>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- TimeDropper -->
  <h2>開始時間と人数</h2>
  <%= f.text_field :start_time, id: 'alarm', value: @last_funeral.start_time.&.strftime("%H:%M") %>

  <!-- NumberPicker -->
  <%= f.number_field :number_of_people, min: '1', max: '100', value: @last_funeral.number_of_people.to_s, class: "num_pick"%>

  <!-- 会場選択 -->
  <h2>斎場</h2>
  <div class="vertical-menu">
      <% @halls.each do |hall| %>
      <div class="item">
        <div class='input-container'>
          <% if hall.id == @last_hall_id %>
          <%= f.radio_button :funeral_hall, hall.id, {class: 'radio-button',checked: true} %>
          <% else %>
          <%= f.radio_button :funeral_hall, hall.id, class: 'radio-button' %>
          <% end %>
          <div class='radio-tile'>
            <label class = "radio-tile-label">
              <%= hall.name %>
            </label>
          </div>
        </div>
      </div>
      <% end %>
  </div>


<div class="ripple">
    <span class="ripple__effect is-white"></span>
    <%= f.submit 'スタッフを探す',class: 'content_in_ripple_button' %>
</div>

<% end %>

<%= link_to "戻る", admin_funeral_halls_path, class: "back_btn" %>

<script>
  $( '#alarm' ).timeDropper({
    format: "H:mm",
    setCurrentTime: false
  });

  (function($) {
  	$.fn.spinner = function() {
  		this.each(function() {
  			var el = $(this);

  			// add elements
  			el.wrap('<span class="spinner"></span>');
  			el.before('<span class="sub">-</span>');
  			el.after('<span class="add">+</span>');

  			// substract
  			el.parent().on('click', '.sub', function () {
  				if (el.val() > parseInt(el.attr('min')))
  					el.val( function(i, oldval) { return --oldval; });
  			});

  			// increment
  			el.parent().on('click', '.add', function () {
  				if (el.val() < parseInt(el.attr('max')))
  					el.val( function(i, oldval) { return ++oldval; });
  			});
  	    });
  	};
  })(jQuery);

  $(".num_pick").spinner();
</script>
