<%= form_with url: new_admin_funeral_path, local: true, method: (:get) do |f| %>

  <div class='container'>
    <div class='radio-tile-group'>

      <!-- 日付選択機能 -->
      <ul class='horizontal-list'>
        <% @days.each_with_index do |day, i| %>
          <li class='item'>
            <div class='input-container'>
              <%=f.radio_button :start_time, day, class: 'radio-button' %>

              <div class='radio-tile'>
                <label class='radio-tile-label'>
                  <% if i == 0 %>
                    <%= '今日' %>
                  <% elsif i == 1 %>
                    <%= '明日' %>
                  <% else %>
                    <%= day.day %>日
                  <% end %>
                </label>
              </div>

            </div>
          </li>
        <% end %>
      </ul>

  </div>
</div>


<!-- TimeDropper -->
<input type='text' id='alarm'>

<!-- NumberPicker -->
<input type='number' min='1' max='100' value='1' />

<div class="vertical-menu">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
  <a href="#">Link 5</a>
</div>

<div class="ripple">
    <span class="ripple__effect is-white"></span>
    <%= f.submit 'スタッフを探す',class: 'content_in_ripple_button' %>
</div>

<% end %>

<script>
  $( '#alarm' ).timeDropper();
  $('input[type=number]').spinner();
</script>
