<%= form_with url: new_admin_funeral_path, local: true, method: (:get) do |f| %>

      <li><%= f.datetime_select :start_time, :minute_step => 15 %></li>から
      <li><%= f.datetime_select :end_time, :minute_step => 15  %></li>
      <li><%= f.submit 'スタッフを探す' %></li>


  <div class="container">
    <div class="radio-tile-group">

      <ul class="horizontal-list">

        <li class="item">
          <div class="input-container">
            <%=f.radio_button :start_time, Date.today, class: "radio-button" %>
            <div class="radio-tile">
              <label class="radio-tile-label">今日</label>
            </div>
          </div>
        </li>

        <li class="item">
          <div class="input-container">
            <%=f.radio_button :start_time, Date.today, class: "radio-button" %>
            <div class="radio-tile">
              <label class="radio-tile-label">明日</label>
            </div>
          </div>
        </li>

        <li class="item">
          <div class="input-container">
            <%=f.radio_button :start_time, Date.today, class: "radio-button" %>
            <div class="radio-tile">
              <label class="radio-tile-label"><%= Date.today.since(2.days).day %></label>
            </div>
          </div>
        </li>

        <li class="item">
          <div class="input-container">
            <%=f.radio_button :start_time, Date.today, class: "radio-button" %>
            <div class="radio-tile">
              <label class="radio-tile-label"><%= Date.today.since(3.days).day %></label>
            </div>
          </div>
        </li>

      </ul>

    <% end %>

  </div>
</div>


<!-- TimeDropper -->
<input type="text" id="alarm">
<script>$( "#alarm" ).timeDropper();</script>


<!-- NumberPicker -->
<input type="number" min="1" max="100" value="1" />
<script>
(function($) {
	$.fn.spinner = function() {
		this.each(function() {
			var el = $(this);

			// add elements
			el.wrap('<span class="spinner"></span>');
			el.before('<span class="sub">-</span>');
			el.after('<span class="add">+</span>');

			// substract
			el.parent().on('click', '.sub', function () {
				if (el.val() > parseInt(el.attr('min')))
					el.val( function(i, oldval) { return --oldval; });
			});

			// increment
			el.parent().on('click', '.add', function () {
				if (el.val() < parseInt(el.attr('max')))
					el.val( function(i, oldval) { return ++oldval; });
			});
	    });
	};
})(jQuery);

$('input[type=number]').spinner();
</script>
