<div class="main">
  <p class="sign" align="center">ログイン</p>
  <%=  form_with url: login_path, local: true do |f|  %>
    <%= f.text_field :email,class: "un", placeholder: "メールアドレス" %>
    <%= f.password_field :password, class: "pass", placeholder: "パスワード" %>
    <%= f.submit "ログイン", class: "submit" %>
    <%= link_to 'まだアカウントがない？', staff_signup_path, class: "forgot" %>
  <% end %>
</div>
