<h1>おばのhome</h1>

<%= link_to "仕事を入力する", oba_search_page_path %>
<%= link_to "仕事一覧", oba_works_path %>
<%= link_to "会場一覧", oba_places_path %>
<%= link_to "取引先一覧", oba_clients_path %>
<%= link_to "スタッフ一覧", oba_users_path %>
