<h1>おばのhome</h1>

<%= link_to "仕事を入力する", new_oba_work_path %>
<%= link_to "仕事一覧", oba_works_path %>
<%= link_to "会場一覧", places_path %>
<%= link_to "取引先一覧", clients_path %>
<%= link_to "スタッフ一覧", users_path %>
<%= link_to "ログアウト", oba_logout_path, method: :delete %>
