<h1>取引先一覧</h1>
<ul>
  <% @clients.each do |client| %>
  <li>会社名：<%= client.name %></li>
  <li>派遣料：<%= client.dispatching_fee_per_hour %>円/1時間</li>
  <li><%= link_to "編集", edit_staff_client_path(client.id) %></li>
  <li>------------------------------------------------</li>
  <% end %>
</ul>

  <%= link_to :新しい取引先を追加, new_staff_client_path %>
  <%= link_to 'ホームへ戻る', oba_home_path %>
