<h1>お疲れ様です、<%= @current_user.name %>さん</h1>
<div class="inner">
  <div class="home-sum">
    <p><%= Date.today.month %>月のお給料</p>
    <p class="payslip-sum">¥<%= @sum %>~</p>
  </div>

   <h2 class="line-height-0">これからのお仕事：</h2>
  <% @funerals.each do |f| %>
    <div class="white-cards">
      <% if f.start_time < Time.now %>
      <span class = "end_report_button"><%= link_to "終了報告", edit_staff_working_hour_path(f.working_hours[0]) %></span><br>
      <% end %>
      <%= f.start_time.strftime("%m月%d %H:%M") %>〜
      <br>
      <%= f.funeral_hall.name %>
      (<%= f.client.name %>)
      <br>
      <% f.working_hours.each do |w| %>
        <%= w.user.name%>
      <% end %>
    </div>
  <% end %>
</div>
