<div class="inner">
  <div class="white-cards">
    <%= form_with model: [:admin, @funeral_halls] do |f| %>
      <%= f.label :会場名 %>
      <%= f.text_field :name %><br>
      <%= f.label :最寄駅 %>
      <%= f.text_field :nearest_station %><br>
      <%= f.label :住所, class: "label-for-address" %>
      <%= f.text_area :address %><br>
      <%= f.submit "修正する", class: "submit" %>
    <% end %>
  </div>
  <%= link_to "戻る", admin_funeral_halls_path, class: "back_btn" %>
</div>
