<h1>会場一覧</h1>
<ul>
  <% @funeral_halls.each do |funeral_halls| %>
  <li>会館名：<%= funeral_halls.name %></li>
  <li>住所：<%= funeral_halls.address %></li>
  <li>最寄駅：<%= funeral_halls.nearest_station %></li>
  <%= link_to "編集", edit_admin_funeral_halls_path(funeral_halls.id) %>
  <li>------------------------------------------------</li>
  <% end %>
</ul>

<%= link_to :新しい会場を追加, new_admin_funeral_halls_path %>
<%= link_to 'ホームへ戻る', admin_home_path %>
