<%= form_with(url: staff_accept_or_reject_path, local: true) do |f| %>
  <div class="white-cards">
    <p><%= f.label "#{@funeral.start_time.&.strftime("%Y年%m月%d日 %H:%M")}" %>〜</p>
    <p>会場：<%= f.label "#{@funeral_hall.name}" %></p>
    <p>ご喪家：<%= f.label "#{@funeral.family_name}" %>家</p>
    <p>取引先：<%= f. label"#{@client.name}" %></p>
    <p>ポラムのスタッフ数：<%= f.label "#{@funeral.number_of_people}" %></p>
  </div>
  <%= f.hidden_field :w_id, value: @working_hour.id %>


  <!-- 承認ボタン -->
  <div class="ripple">
      <span class="ripple__effect is-white"></span>
      <%= f.submit '受ける',class: 'content_in_ripple_button' %>
  </div>
  <!-- 辞退ボタン -->
  <div class="ripple">
      <span class="ripple__effect is-white"></span>
      <%= f.submit '辞退する',class: 'content_in_ripple_button' %>
  </div>
<% end %>
