<h1>終了報告</h1>
<%= form_with(url: staff_end_report_path, local: true) do |f| %>
  <div class="white-cards">
    <p><%= f.label "#{@funeral.start_time.&.strftime("%Y年%m月%d日 %H:%M")}" %>〜</p>
    <p>会場：<%= f.label "#{@funeral_hall.name}" %> </p>
    <p>ご喪家：<%= f.label "#{@funeral.family_name}" %>家</p>
    <p>取引先：<%= f. label"#{@client.name}" %></p>
    <p>ポラムのスタッフ数：<%= f.label "#{@funeral.number_of_people}" %></p>
  </div>
  <%= f.hidden_field :w_id, value: @working_hour.id %>

  <p id="finished_time_label">お仕事終了した時間</p>
  <p id="finished_time"><%= @rounded_down_time.&.strftime("%H:%M") %></p>
  <%= f.hidden_field :end_time, value: @rounded_down_time %>

  <div class="ripple">
      <span class="ripple__effect is-white"></span>
      <%= f.submit '終了報告',class: 'content_in_ripple_button' %>
  </div>
  <%= link_to "内容に修正がある場合", staff_modification_report_path(@working_hour, :id => @working_hour.id, :end_time => @rounded_down_time.&.strftime("%Y年%m月%d日 %H:%M")), class: "back_btn" %>
<% end %>
