<%= form_with model: [:staff, @working_hour] do |f| %>
  <div class="white-cards">
    <div class="date_select">
      <%= f.label "開始時間"  %><br>
      <%= raw sprintf(
        f.datetime_select(
        :start_time,
        use_month_numbers: true,
        default: @working_hour.start_time,
        date_separator: '%s',
        datetime_separator: '%s',
        time_separator: '%s'), '年', '月', '日', '時') + '分' %>
        <br><br>
      <%= f.label "終了時間"  %><br>
      <%= raw sprintf(
        f.datetime_select(
        :end_time,
        use_month_numbers: true,
        default: @working_hour.end_time,
        date_separator: '%s',
        datetime_separator: '%s',
        time_separator: '%s'), '年', '月', '日', '時') + '分' %>
    </div>
    <br>
    <div class="other_select">
      <%= f.label "会場："  %>
      <%= f.collection_select :funeral_hall_id, FuneralHall.all, :id, :name, selected: @funeral_hall.id %><br>
      <%= f.label "喪家名："  %>
      <%= f.text_field :family_name, value: "#{@funeral.family_name}" %>家<br>
      <%= f.label "取引先："  %>
      <%= f.collection_select :client_id, Client.all, :id, :name, selected: @funeral.client.id%><br>
      <%= f.label "人数："  %>
      <%= f.number_field :number_of_people, value: "#{@funeral.number_of_people}" %>人<br>
      <%= f.label "交通費：" %>
      <%= f.number_field :transportation_fee, value: "#{@working_hour.transportation_fee}" %>円<br>
    </div>
  </div>

  <%= f.hidden_field :id, value: @working_hour.id %>


  <div class="ripple">
      <span class="ripple__effect is-white"></span>
      <%= f.submit '修正する',class: 'content_in_ripple_button' %>
  </div>
<% end %>
<%= link_to "戻る", admin_payslip_path(@working_hour.user_id), class: "back_btn" %>
