<h1>給与明細</h1>

<%= @current_user.name %>

<div>
  <%= "日付" %>|
  <%= "家" %>|
  <%= "開始時間" %>|
  <%= "終了時間" %>|
  <%= "総労働時間" %>|
  <%= "時給" %>|
  <%= "日給" %>|
  <%= "場所" %>|
  <%= "交通費" %>
</div>
<% @funerals[0].each do |funeral| %>
  <div>
    <% @current_user.pay_per_hour = 1500 %>

    <%= "家" %>|
    <%= funeral.start_time.strftime("%H:%M") %>|
    <%= funeral.end_time.strftime("%H:%M") %>|
    <% working_hours = (funeral.end_time - funeral.start_time) / 3600 %>
    <%= working_hours %>|
    <%= @current_user.pay_per_hour %>|
    <% pay_per_day = @current_user.pay_per_hour * working_hours %>
    <%= pay_per_day %>
    <% funeral_halls = FuneralHall.find(funeral.funeral_halls_id) %>|
    <%= funeral_halls.name %>|
    <%= "交通費" %>
  </div>
<% end %>
