<header>
  <div id="nav-drawer">
    <input id="nav-input" type="checkbox" class="nav-unshown">
    <label id="nav-open" for="nav-input"><span></span></label>
    <label class="nav-unshown" id="nav-close" for="nav-input"></label>
    <div id="nav-content">
      <nav>
        <h1>メニュー</h1>
        <ul>
          <li><%= link_to "仕事を入力する", admin_search_page_path %></li>
          <li><%= link_to "請求書", admin_invoices_path %></li>
          <li><%= link_to "給与明細", admin_payslips_path %></li>
          <li><%= link_to "仕事一覧", admin_funerals_path %></li>
          <li><%= link_to "会場一覧", admin_funeral_halls_path %></li>
          <li><%= link_to "取引先一覧", admin_clients_path %></li>
          <li><%= link_to "スタッフ一覧", admin_users_path %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
