<h1>メニュー</h1>
  <ul>
    <li><%= link_to "仕事を入力する", admin_search_page_path %></li>
    <li><%= link_to "仕事一覧", admin_funerals_path %></li>
    <li><%= link_to "会場一覧", admin_funeral_halls_path %></li>
    <li><%= link_to "取引先一覧", admin_clients_path %></li>
    <li><%= link_to "スタッフ一覧", admin_users_path %></li>
  </ul>
