<header>
  <div id="nav-drawer">
    <input id="nav-input" type="checkbox" class="nav-unshown">
    <label id="nav-open" for="nav-input"><span></span></label>
    <label class="nav-unshown" id="nav-close" for="nav-input"></label>
    <div id="nav-content">
      <nav>
        <h1>メニュー</h1>
        <ul>
          <li><%= link_to "ホーム", staff_home_path %></li>
          <li><%= link_to "シフトを入力する", new_staff_shift_path %></li>
          <li><%= link_to "給与明細", staff_payslip_path(@current_user) %></li>
          <% if @current_user.user_type == "admin" %>
          <li><%= link_to "社長モード", admin_home_path %></li>
          <% end %>
          <li><%= link_to "会場一覧", staff_funeral_halls_path %></li>
          <li><%= link_to "取引先一覧", staff_clients_path %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
