<h1>確定のお仕事</h1>
<li>日時：
  <% @funerals.each do |funeral| %>
    <%= funeral.start_time %>
    〜
    <%= funeral.end_time %>
  <% end %>
</li>

<li>スタッフ：
  <% @users.each do |user| %>
    <%= user.name %>
  <% end %>
</li>

<li>会場：
  <% @funeral_hallss.each do |funeral_halls| %>
    <%= funeral_halls.name %>
  <% end %>
</li>

<li>取引先：
  <% @clients.each do |client| %>
    <%= client.name %>
  <% end %>
</li>
