<div class="main">
  <p class="sign" align="center"><%= yield :title %></p>
    <%= form_with url: staff_apply_for_authentication_path, model: [ :staff, @user], local: true do |f| %>
      <%= f.text_field :name,       class: "un", placeholder: "氏名" %>
      <%= f.text_field :email,      class: "un", placeholder: "メールアドレス" %>
      <%= f.text_field :address,         class: "un", placeholder: "住所" %>
      <%= f.text_field :nearest_station, class: "un", placeholder: "最寄駅" %>
      <%= f.password_field :password,              class: "pass", placeholder: "パスワード" %>
      <%= f.password_field :password_confirmation, class: "pass", placeholder: "パスワード（確認）" %>

      <%= f.submit "#{ yield :submit_button }", class: "submit" %>
    <% end %>
    <%= link_to "#{ yield :under_link }", "#{ yield :path }", class: "forgot" %>
</div>
