  <li>氏名：<%= @user.name %></li>
  <li>メールアドレス：<%= @user.email %></li>
  <li>住所：<%= @user.address %></li>
  <li>可能会場：</li>
  <li>時給：</li>
  <li><%= link_to "編集", edit_staff_user_path(@user.id) %></li>
  <%= link_to '一覧に戻る', edit_staff_user_path %>
