<h1>会場一覧</h1>
<ul>
  <% @places.each do |place| %>
  <li>会館名：<%= place.name %></li>
  <li>住所：<%= place.address %></li>
  <li>最寄駅：<%= place.nearest_station %></li>
  <%= link_to "編集", edit_admin_place_path(place.id) %>
  <li>------------------------------------------------</li>
  <% end %>
</ul>

<%= link_to :新しい会場を追加, new_admin_place_path %>
<%= link_to 'ホームへ戻る', admin_home_path %>
