<%= form_for @user do |f| %>
  <div>
    <%= f.label :氏名 %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :メールアドレス %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :パスワード %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :パスワード確認 %>
    <%= f.password_field :password_confirmation %>
  </div>


  <%= f.submit "登録申請" %>
<% end %>
