  <li>氏名：<%= @user.family_name + @user.first_name %></li>
  <li>メールアドレス：<%= @user.email %></li>
  <li>住所：<%= @user.address %></li>
  <li>可能会場：<%= @user.available_funeral_halls %></li>
  <li>時給：<%= @user.pay_per_hour %></li>
  <li><%= link_to "編集", edit_admin_user_path(@user.id) %></li>
  <%= link_to "戻る", admin_users_path, class: "back_btn" %>
