<h1><%= @user.family_name + @user.first_name %></h1>

<div class="inner">
  <div class="white-cards">
    <form action="staff/working_hours" method="post">
      <input type="text" value="<%=@working_hour.start_time.&.strftime("%Y年%m月%d日 %H:%M")%>"><br>
      <input type="text" value="<%= @working_hour.end_time.&.strftime("%Y年%m月%d日 %H:%M") %>"><br>
      <input type="text" value="<%= @working_hour.funeral.funeral_hall.name %>"><br>
      <input type="text" value="<%= @working_hour.funeral.family_name %>"家<br>
      <input type="text" value="<%= @working_hour.funeral.client.name %>"><br>
      <input type="number" value="<%= @working_hour.transportation_fee %>"><br>
      <input type="submit" name="submit" value="修正する">
    </form>
  </div>
</div>
<%= link_to "戻る", edit_admin_payslip_path(@user.id), class: "back_btn" %>
