<h1><%= @user.family_name + @user.first_name %></h1>
<h1><%= link_to "<", admin_payslip_path(:transition => "last_month", :month => @month),
        class: "payslip_month_arrows" %><%= @month.strftime("%Y年%m月") %><%= link_to ">",
        admin_payslip_path(:transition => "next_month", :month => @month), class: "payslip_month_arrows" %></h1>

<div class="flex-box">
  <p class="payslip-sum">¥<%= calculate_pay_per_month(@working_hours, @user.pay_per_hour).to_s(:delimited) %>
  <span class="transportation_fee">+¥<%= transportation_fee_total(@working_hours).to_s(:delimited)%>(交)</span></p>
  <p class="right-p">時給<%= @user.pay_per_hour %>円</p>
</div>

<div class="pay_table_container">
  <table>
    <tr>
      <% t_headers = %w(日時 就労時間 会場 交通費 実働 日給 喪家 取引先) %>
      <% t_headers.each do |th| %>
        <th><%= th %></th>
      <% end %>
    </tr>
    <% unless @working_hours.nil? %>
      <% @working_hours.each do |w| %>
        <tr>
          <td><%= w&.start_time&.strftime("%d") %>日</td>
          <td><%= w&.start_time&.strftime("%H:%M") %>-<%= w.end_time&.strftime("%H:%M") %></td>
          <td><%= w.funeral.funeral_hall.name %></td>
          <td><%= w.transportation_fee %></td>
          <td><%= calculate_working_hour(w) %>h</td>
          <td><%= calculate_pay_per_day_without_transportation_fee(w, @user.pay_per_hour).round.to_s(:delimited) %></td>
          <td><%= w.funeral.family_name %>家</td>
          <td><%= w.funeral.client.name %></td>
          <td><%= link_to "編集", edit_staff_working_hour_path(id: w.id) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<%= link_to "戻る", admin_payslips_path, class: "back_btn" %>
