<h1>シフト一覧</h1>
<ul>
  <% @shifts.each do |shift| %>
    <%= shift.scheduled_from.strftime("%Y年%m月%d日") %>
      <li><%= shift.scheduled_from.strftime("%H:%M") %> - <%= shift.scheduled_to.strftime("%H:%M") %></li>
      <%= link_to "編集", edit_staff_shift_path(shift.id) %>
    <li>-------------------------</li>
  <% end %>
</ul>
<%= link_to "ホームに戻る", staff_home_path %>
