<h1>シフト一覧</h1>
<ul>
  <% @shifts.each do |shift| %>
    <%= shift.start_time.strftime("%Y年%m月%d日") %>
      <li>開始：<%= shift.start_time.strftime("%H:%M") %></li>
      <li>終了予定：<%= shift.end_time.strftime("%H:%M") %></li>
      <%= link_to "編集", edit_staff_shift_path(shift.id) %>
    <li>-------------------------</li>
  <% end %>
</ul>
<%= link_to "ホームに戻る", staff_home_path %>
