<body>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if controller_path.include?('admin') %>
    <%= render :partial => "admin/nav_content" %>
  <!-- loginとsignupとスタッフ登録申請はヘッダーなし -->
  <% elsif controller_path.include?('session') || controller_path.include?('user') && action_name.include?('new') || action_name.include?('apply_for_authentication') %>
  <% else %>
    <%= render :partial => "staff/nav_content" %>
  <% end %>

  <%= yield %>

</body>
